*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12.5px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(3, 3, 43);
}

::-webkit-scrollbar { /* Makes scrollbar hidden */
    display: none;
  }

section{
    margin: 10% 20%;
}

h2{
    font-size: 4rem;
    padding: 2rem 0rem;
    font-weight: bold;
    color: rgb(198, 198, 168);
}

h3{
    font-size: 2.5rem;
    padding: 2rem 0rem;
    color: rgb(198, 198, 168);
}

p{
    font-size: 1.3rem;
    line-height: 175%;
    color: rgb(216, 213, 213);
}

#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
}